html{
	width: 100%;
	overflow-x: hidden;
	padding: 0;
	margin: 0;
}
body {
	width: 100%;
	color: black;
	padding: 0;
	margin: 0;
	nav{
		position: relative;
		z-index: 1;
		width: 90%;
		background: #222222;
		padding: 10px 5%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		.site-branding{
			display: inline-block;
			width: 200px;
			img{
				width: 100%;
				height: auto;
			}
		}
		ul{
			display: inline-flex;
			align-self: flex-end;
			list-style: none;
			padding: 0;
			margin: 0;
			position: absolute;
			top: 40%;
			li{
				display: inline-block;
				padding: 0 20px;
				a{
					text-transform: uppercase;
					color: white;
					text-decoration: none;
					font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
					font-weight: 500;
					font-size: 16pt;
				}
			}
		}
	}
	&.second{
		content{
			.section{
				&#banner {
					.bg_image{
						img {
							position: absolute;
							bottom: -50%;
							top: initial !important;
						}
					}
					.banner_text{
						position: relative;
						align-items: center;
						display: flex;
						max-width: 950px;
						margin: 0 auto;
						.main{
							margin-top: 0;
							text-align: left;
							line-height: 100px;
						}
					}
				}
			}
			.text_section{
				.section{
					&.a_one{
						display: flex;
						max-width: initial;
						max-height: initial;
						&:nth-of-type(2){
							.inner{
								&.one {
									.text{
										left: 10%;
										right: initial;
									}
								}
							}
						}
						.inner{
							display: inline-block;
							width: 50%;
							position: relative;
							&:before{
								content: '';
								display: block;
								padding-bottom: 100%;
							}
						}
						.inner.one {
							top: 0;
							.text{
								width: 50%;
								display: flex;
								align-self: center;
								position: absolute;
								right: 10%;
								top: 0;
								height: 100%;
								.text_inner {
									display: inline-flex;
									align-self: center;
									flex-direction: column;
									justify-content: space-around;
									p {
										width: 100%;
										font-family: 'Montserrat', sans-serif;
										font-size: 10pt;
										line-height: 22px;
										margin-bottom: 15px;
										&.bold {
											font-family: 'Open Sans Condensed', sans-serif;
											font-weight: 700;
											color: black;
											text-transform: uppercase;
											font-size: 55pt;
											width: 100%;
											line-height: 65px;
											margin-top: 0;
										}
										&.medium {
											font-weight: 700;
											font-size: 16pt;
										}
									}
								}
							}
						}
						.inner.two {
							top: 0;
							left: initial;
							width: 50%;
							.bg_image{
								display: inline-block;
								width: 100%;
								height: 100%;
								overflow: hidden;
								position: absolute;
								top: 0;
								img{
									width: auto;
									height: 100%;
								}
							}
						}
					}
					&.full{
						display: flex;
						min-height: 600px;
						height: 90vh;
						position: relative;
						.bg_image {
							display: inline-block;
							width: 100%;
							height: 100%;
							overflow: hidden;
							position: absolute;
							top: 0;
							img {
								position: relative;
								top: 0;
								left: 0;
								display: inline-block;
								width: 115%;
								height: auto;
							}
						}
						.inner{
							position: relative;
							z-index: 1;
							display: flex;
							flex-direction: column;
							align-content: flex-start;
							justify-content: space-around;
							.text{
								position: relative;
								z-index: 1;
								width: 35%;
								display: block;
								color: white;
								margin-left: 15%;
								p {
									font-family: 'Montserrat', sans-serif;
									font-size: 12pt;
									line-height: 22px;
									margin: 0;
									&.bold {
										font-family: 'Open Sans Condensed', sans-serif;
										font-weight: 700;
										text-transform: uppercase;
										font-size: 55pt;
										width: 100%;
										line-height: 65px;
										margin-top: 0;
										width: 75%;
										margin-bottom: 15px;
									}
									&.medium {
										font-weight: 700;
										font-size: 16pt;
										margin-top: 30px;
										line-height: 30px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	content{
		display: inline-block;
		overflow: hidden;
		.section{
			display: flex;
			width: 100%;
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			min-height: 600px;
			.main{
				color: black;
				line-height: 100px;
				font-family: 'Open Sans Condensed', sans-serif;
				line-height: inherit;
			}
			&#banner{
				width: 100vw;
				height: 95vh;
				position: relative;
				min-height: 700px;
				flex-direction: column;
				align-content: flex-start;
				.bg_image {
					display: inline-block;
					width: 100%;
					height: 100%;
					overflow: hidden;
					position: absolute;
					top: 0;
					img {
						position: relative;
						top: -20%;
						left: 0;
						display: inline-block;
						width: 115%;
						height: auto;
					}
				}
				.banner_text{
					position: relative;
					z-index: 1;
					width: 100%;
					height: 100%;
					.main{
						text-transform: uppercase;
						text-align: center;
						color: white;
						margin-top: 10%;
						.top{
							font-weight: 700;
							font-size: 90pt;
						}
					}
					.prod_image.one{
						position: absolute;
						width: 100%;
						text-align: center;
						bottom: -200px;
						img {
							width: 400px;
						}
					}
				}
			}

			&#one{
				position: relative;
				width: 100vw;
				height: initial;
				z-index: 1;
				display: block;
				margin: 0 auto;
				max-width: 1200px;
				.inner.one {
					color: black;
					position: relative;
					top: 75px;
					left: 0;
					.text{
						position: relative;
						z-index: 1;
						width: 40%;
						display: inline-block;
						p{
							width: 90%;
							font-family: 'Montserrat', sans-serif;
							font-size: 10pt;
							line-height: 22px;
							margin-bottom: 15px;
							&.bold{
								font-family: 'Open Sans Condensed', sans-serif;
								font-weight: 700;
								color: black;
								text-transform: uppercase;
								font-size: 35pt;
								width: 100%;
								line-height: 40px;
							}
						}
						.shop{
							margin-top: 10px;
							background: black;
							display: inline-block;
							padding: 15px 25px;
							font-family: 'Montserrat', sans-serif;
							font-weight: 400;
							text-decoration: none;
							color: white;
							font-size: 9pt;
						}
					}
				}
				.inner.two {
					color: black;
					position: relative;
					top: -75px;
					left: 50%;
					width: 50%;
					.text{
						position: relative;
						z-index: 1;
						width: 100%;
						display: inline-block;
						p{
							width: 90%;
							font-family: 'Montserrat', sans-serif;
							font-size: 10pt;
							line-height: 22px;
							margin-bottom: 15px;
							&.bold{
								font-family: 'Open Sans Condensed', sans-serif;
								font-weight: 700;
								color: black;
								text-transform: uppercase;
								font-size: 35pt;
								width: 100%;
								line-height: 40px;
							}
						}
						.shop{
							margin-top: 10px;
							background: black;
							display: inline-block;
							padding: 15px 25px;
							font-family: 'Montserrat', sans-serif;
							font-weight: 400;
							text-decoration: none;
							color: white;
							font-size: 9pt;
						}
					}
				}
			}
			&.grid{
				display: flex;
				width: 40%;
				left: 5%;
				justify-content: space-around;
				min-height: initial;
				top: -225px;
				position: relative;
				.inline_grid {
					display: inline-grid;
					padding: 10px;
					width: 50%;
					position: relative;
					.inner{
						position: absolute;
						top: 0;
						img{
							display: block;
							width: 60%;
							margin: 0 auto;
						}
						.text{
							display: block;
							width: 65%;
							margin: 0 auto;
							text-align: center;
							p{
								font-family: 'Montserrat', sans-serif;
								font-size: 12pt;
								line-height: 22px;
								margin: 0;
								&.bold{
									font-family: 'Open Sans Condensed', sans-serif;
									font-weight: 700;
									font-size: 16pt;
								}
							}
						}
					}
					&:before{
						content: '';
						display: block;
						padding-bottom: 120%;
					}
				}
			}

			&.image{
				display: inline-block;
				width: 50%;
				position: absolute;
				right: 0;
				top: 730px;
				img{
					width: 110%;
					height: auto;
				}
			}

			&#five{
				position: relative;
				width: 100vw;
				height: auto;
				min-height: initial;
				top: -100px;
				flex-direction: column;
				align-content: center;
				justify-content: space-around;
				.inner {
					text-align: center;
					.main{
						text-transform: uppercase;
						text-align: center;
						.top{
							font-weight: 700;
							font-size: 60pt;
						}
					}
					.text{
						position: relative;
						z-index: 1;
						width: 95%;
						display: block;
						margin: 0 auto;
						p {
							font-family: 'Montserrat', sans-serif;
							font-size: 12pt;
							line-height: 22px;
							margin: 0;
						}
					}
				}
			}
			&#six{
				position: relative;
				width: 100vw;
				height: auto;
				min-height: initial;
				flex-direction: column;
				align-content: center;
				justify-content: space-around;
				flex-flow: nowrap;
				.square{
					display: inline-flex;
					flex-grow: 1;
					position: relative;
					width: 33.3%;
					&:before{
						content: '';
						padding-bottom: 100%;
						display: block;
					}
					.bg_image {
						display: inline-block;
						width: 100%;
						height: 100%;
						overflow: hidden;
						position: absolute;
						top: 0;
						img {
							position: relative;
							top: 0;
							left: -25%;
							display: inline-block;
							width: auto;
							height: 100%;
						}
					}
				}
				.inner {
					text-align: center;
					position: absolute;
					top: 35%;
					height: 65%;
					.main{
						text-transform: uppercase;
						text-align: center;
						color: white;
						position: relative;
						z-index: 1;
						.top{
							font-weight: 700;
							font-size: 50pt;
						}
					}
					.text{
						position: relative;
						z-index: 1;
						width: 80%;
						display: block;
						margin: 0 auto;
						color: white;
						p {
							font-family: 'Montserrat', sans-serif;
							font-size: 10pt;
							line-height: 22px;
							margin: 0 0 10px 0;
						}
					}
					.shop_outer{
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0;
						text-align: center;
						.shop {
							margin: 20px auto 30px;
							background: transparent;
							border: 1px solid white;
							display: inline-block;
							padding: 5px 40px;
							font-family: 'Montserrat', sans-serif;
							font-weight: 400;
							text-decoration: none;
							color: white;
							font-size: 10pt;
							text-transform: uppercase;
						}
					}
				}
			}

		}
		.text_section{
			position: relative;
		}
	}
}
footer {
	.instagram {
		display: block;
		padding: 40px 0;
		background: #222222;
		.insta_label {
			font-family: 'abril_fatfaceregular';
			font-weight: 300;
			font-size: 24pt;
			color: white;
			display: block;
			margin: 0 auto 30px;
			text-align: center;
		}
		ul {
			list-style: none;
			margin: 0;
			display: flex;
			padding: 0;
			justify-content: space-around;
			max-width: 1200px;
			margin: 0 auto;
			li {
				background: white;
				display: inline-flex;
				width: 19%;
				&:before {
					content: '';
					display: block;
					padding-bottom: 100%;
				}
			}
		}
	}
	.footer_inner {
		display: flex;
		width: 95%;
		max-width: 1200px;
		margin: 0 auto;
		padding: 30px 0;
		.footer_section {
			display: inline-flex;
			&.one {
				width: 50%;
				ul {
					list-style: none;
					margin: 0;
					padding: 0;
					li {
						display: block;
						padding: 5px 0;
						a{
							color: black;
							text-decoration: none;
							font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
							font-weight: 500;
							font-size: 11pt;
						}
					}
				}
			}
			&.two{
				display: inline-flex;
				flex-direction: column;
				width: 25%;
				label{
					font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
					font-weight: 500;
					text-transform: uppercase;
					width: 65%;
					margin-bottom: 5px;
				}
				input{
					background: #f2f2f2;
					border: none;
					border-radius: 5px;
					height: 40px;
					padding-left: 15px;
					margin: 5px 0;
					&[type="sign up"]{
						background: transparent;
						border: 3px solid black;
						display: inline-block;
						width: 110px;
						-webkit-border-radius: 10px;
						-moz-border-radius: 10px;
						border-radius: 10px;
						color: black;
						font-size: 10pt;
						text-align: center;
						padding: 0;
						height: 25px;
					}
				}
				.pin_logo{
					width: 60px;
					left: -10px;
					position: relative;
					img{
						width: 100%;
						height: auto;
					}
				}
			}
			&.three {
				display: inline-flex;
				flex-direction: column;
				width: 25%;
				position: relative;
				.footer_logo{
					width: 200px;
					position: absolute;
					right: 0;
					bottom: 0;
					img{
						width: 100%;
						height: auto;
					}
				}
			}
		}
	}
}
.credits{
	display: inline-block;
	background: black;
	padding: 15px 0;
	width: 100%;
	color: white;
	.inner{
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		font-weight: 500;
		max-width: 1200px;
		display: block;
		width:95%;
		margin: 0 auto;
		font-size: 9pt;
		a{
			color: white;
		}
	}
}




