@media screen and (max-width: 1450px){
  body content .section#banner .bg_image img{top: -45%;}
  body.second content .section#banner .bg_image img{bottom: -65%;}
}
@media screen and (max-width: 1325px){
  body content .section#banner .bg_image img{top: -25%;}
}
@media screen and (max-width: 1200px){
  body content .section#one{width: 95%;}
  body.second content .text_section .section.a_one .inner.one .text{
    width: 70%;
  }
  body content .section.grid .inline_grid:before{padding-bottom: 140%;}
  body content .section.grid .inline_grid .inner .text{width: 95%;}
  body content .section#six .inner{top: 0;height: 100%;}
}
@media screen and (max-width: 1135px){
  body content .section#banner .bg_image img{top: -10%;width: 125%;}
  body content .section#one .inner.two{top:-135px;}
}
@media screen and (max-width: 1025px){
  body content .section#one .inner.two{top:-185px;}
}
@media screen and (max-width: 998px) {
  body content .section#banner .banner_text .main .top {
    font-size: 70pt;
    line-height: 90px;
  }
  body content .section#banner .bg_image img{top: 0;width: auto; height: 100%;}
  body.second content .section#banner .bg_image img{width:100%;height: auto;bottom: 1000px;}
  body.second content .text_section .section.full .bg_image img{
    width: 175%;left:-50%;}
  body.second content .text_section .section.full .inner .text{
    width: 90%;
    margin-left: 5%;
  }
}
@media screen and (max-width: 998px){
  body footer .footer_inner .footer_section.one{width: 35%;}
  body footer .footer_inner .footer_section.two{width: 35%;}
}
@media screen and (max-width: 885px){
  body content .section#one .inner.two{top:-215px;}
  body.second content .text_section .section.a_one{display: block;margin-bottom: -5px;}
  body.second content .text_section .section.a_one .inner.one, body.second content .text_section .section.a_one .inner.two{
    width: 100%;
  }
  body content .section#six{
    flex-flow: column;
  }
  body content .section#six .square{
    width: 85%;
    margin: 0 auto;
  }
  body content .section#six .inner{top: 25%;height: 75%;}
}
@media screen and (max-width: 775px) {
  body.second content .section#banner .bg_image img{width:150%;height: auto;bottom:0; left: -25%;}
  body.second content .section#banner .banner_text .main{text-align: center;width: 100%;}
  body content .section#banner .banner_text .main .top{font-size: 50pt;line-height: 60px;}
  body content .section#one .inner.one {
    top: 145px;
    margin-bottom: 150px;
  }
  body content .section#one .inner.one .text {
    width: 100%;
  }
  body content .section#one .inner.two{
    position: relative;
    top:0;
    width: 100%;
    left: 0;
    margin-bottom: 50px;
  }
  body content .section.grid{
    top: 0;
    left: 0;
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
  }
  body content .section.image{
    position: relative;
    top: 0;
    width: 100%;
  }
  body content .section#five{
    top: 0;
    line-height: 65px;
    padding: 50px 0;
  }
  body content .section#five .inner .text{
    width: 85%;
    margin-top: 15px;
  }
}
@media screen and (max-width:775px){
  body footer .instagram ul{flex-wrap: wrap;justify-content: space-between;width: 90%;}
  body footer .instagram ul li{width: 49%;margin-bottom: 10px;}
  body footer .footer_inner{flex-direction: column;}
  body footer .footer_inner .footer_section.one{width: 100%; text-align: center;}
  body footer .footer_inner .footer_section.one .footer-nav{width: 100%;}
  body footer .footer_inner .footer_section.two{width: 100%; margin: 50px 0 75px; text-align: center;}
  body footer .footer_inner .footer_section.two label{width: 100%;}
  body footer .footer_inner .footer_section.three{width: 100%;}
}
@media screen and (max-width: 658px) {
  body content .section#banner .bg_image img{
    left: -25%;}
  body.second content .text_section .section.a_one .inner.one .text .text_inner p.bold{
    font-size: 30pt;line-height: 40px;}
  body.second content .text_section .section.a_one .inner.one .text{width:90%;right: 5%; }
    body.second content .text_section .section.a_one .inner:before{padding-bottom: 125%;}
  body.second content .text_section .section.full .bg_image img{height: 100%;width: auto;}
  body.second content .text_section .section.full .inner .text p.bold{font-size: 44pt;}
}
@media screen and (max-width: 531px) {
  body nav ul{
    display: none;}
}
@media screen and (max-width: 490px) {
  body content .section#banner .bg_image img{left: -490px;}
  body content .section.grid{margin-bottom: 40px;}
  body content .section.image{min-height: initial;overflow: hidden; margin-top: 40px;}
  body content .section#five .inner .main .top{font-size: 50pt;}
  body content .section#six .square{width: 100%;}
  body content .section#six .inner{top:50px;height: 80%;}
  body content .section#six .inner .text{width: 90%;}
  body content .section#six .inner .shop_outer .shop{padding: 10px 40px;font-size: 12pt;}
  body content .section#banner .banner_text .main {margin-top: 100px;}
  body content .section.grid .inline_grid:before {padding-bottom: 280px;}
  body content .section.grid .inline_grid .inner img {width: 70%;}
  body content .section.grid .inline_grid .inner .text {width: 75%;}
  body content .section#one .inner.one .text p {width: 96%;}
  body content .section#one .inner.two .text p {width: 96%;}
  body.second content .section#banner{height: 50vh;}
  body.second content .text_section .section.a_one:nth-of-type(2) .inner.one .text {left: 5%;}
  body.second content .text_section .section.full .inner .text p.medium {font-size: 13pt;}
}

@media screen and (max-width: 1450px) and (min-height: 768px){
  body content .section#banner .bg_image img{top: 0; width: 1450px;}
  body.second content .section#banner .bg_image img{bottom: 0;}
}
@media screen and (max-width: 668px) and (min-height: 768px){
  body content .section#banner .bg_image img{top: 0; width: 1450px;}
  body.second content .section#banner{height: 75vh;}
}