@font-face {
    font-family: 'abril_fatfaceregular';
    src: url('../fonts/abrilfatface-regular-webfont.woff2') format('woff2'),
    url('../fonts/abrilfatface-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gubiabold';
    src: url('../fonts/gubiabold-webfont.woff2') format('woff2'),
    url('../fonts/gubiabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}