/* line 1, ../sass/home.scss */
html {
  width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

/* line 7, ../sass/home.scss */
body {
  width: 100%;
  color: black;
  padding: 0;
  margin: 0;
}
/* line 12, ../sass/home.scss */
body nav {
  position: relative;
  z-index: 1;
  width: 90%;
  background: #222222;
  padding: 10px 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/* line 21, ../sass/home.scss */
body nav .site-branding {
  display: inline-block;
  width: 200px;
}
/* line 24, ../sass/home.scss */
body nav .site-branding img {
  width: 100%;
  height: auto;
}
/* line 29, ../sass/home.scss */
body nav ul {
  display: inline-flex;
  align-self: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 40%;
}
/* line 37, ../sass/home.scss */
body nav ul li {
  display: inline-block;
  padding: 0 20px;
}
/* line 40, ../sass/home.scss */
body nav ul li a {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  font-size: 16pt;
}
/* line 56, ../sass/home.scss */
body.second content .section#banner .bg_image img {
  position: absolute;
  bottom: -50%;
  top: initial !important;
}
/* line 62, ../sass/home.scss */
body.second content .section#banner .banner_text {
  position: relative;
  align-items: center;
  display: flex;
  max-width: 950px;
  margin: 0 auto;
}
/* line 68, ../sass/home.scss */
body.second content .section#banner .banner_text .main {
  margin-top: 0;
  text-align: left;
  line-height: 100px;
}
/* line 78, ../sass/home.scss */
body.second content .text_section .section.a_one {
  display: flex;
  max-width: initial;
  max-height: initial;
}
/* line 85, ../sass/home.scss */
body.second content .text_section .section.a_one:nth-of-type(2) .inner.one .text {
  left: 10%;
  right: initial;
}
/* line 92, ../sass/home.scss */
body.second content .text_section .section.a_one .inner {
  display: inline-block;
  width: 50%;
  position: relative;
}
/* line 96, ../sass/home.scss */
body.second content .text_section .section.a_one .inner:before {
  content: '';
  display: block;
  padding-bottom: 100%;
}
/* line 102, ../sass/home.scss */
body.second content .text_section .section.a_one .inner.one {
  top: 0;
}
/* line 104, ../sass/home.scss */
body.second content .text_section .section.a_one .inner.one .text {
  width: 50%;
  display: flex;
  align-self: center;
  position: absolute;
  right: 10%;
  top: 0;
  height: 100%;
}
/* line 112, ../sass/home.scss */
body.second content .text_section .section.a_one .inner.one .text .text_inner {
  display: inline-flex;
  align-self: center;
  flex-direction: column;
  justify-content: space-around;
}
/* line 117, ../sass/home.scss */
body.second content .text_section .section.a_one .inner.one .text .text_inner p {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 10pt;
  line-height: 22px;
  margin-bottom: 15px;
}
/* line 123, ../sass/home.scss */
body.second content .text_section .section.a_one .inner.one .text .text_inner p.bold {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  font-size: 55pt;
  width: 100%;
  line-height: 65px;
  margin-top: 0;
}
/* line 133, ../sass/home.scss */
body.second content .text_section .section.a_one .inner.one .text .text_inner p.medium {
  font-weight: 700;
  font-size: 16pt;
}
/* line 141, ../sass/home.scss */
body.second content .text_section .section.a_one .inner.two {
  top: 0;
  left: initial;
  width: 50%;
}
/* line 145, ../sass/home.scss */
body.second content .text_section .section.a_one .inner.two .bg_image {
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
}
/* line 152, ../sass/home.scss */
body.second content .text_section .section.a_one .inner.two .bg_image img {
  width: auto;
  height: 100%;
}
/* line 159, ../sass/home.scss */
body.second content .text_section .section.full {
  display: flex;
  min-height: 600px;
  height: 90vh;
  position: relative;
}
/* line 164, ../sass/home.scss */
body.second content .text_section .section.full .bg_image {
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
}
/* line 171, ../sass/home.scss */
body.second content .text_section .section.full .bg_image img {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  width: 115%;
  height: auto;
}
/* line 180, ../sass/home.scss */
body.second content .text_section .section.full .inner {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: space-around;
}
/* line 187, ../sass/home.scss */
body.second content .text_section .section.full .inner .text {
  position: relative;
  z-index: 1;
  width: 35%;
  display: block;
  color: white;
  margin-left: 15%;
}
/* line 194, ../sass/home.scss */
body.second content .text_section .section.full .inner .text p {
  font-family: 'Montserrat', sans-serif;
  font-size: 12pt;
  line-height: 22px;
  margin: 0;
}
/* line 199, ../sass/home.scss */
body.second content .text_section .section.full .inner .text p.bold {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 55pt;
  width: 100%;
  line-height: 65px;
  margin-top: 0;
  width: 75%;
  margin-bottom: 15px;
}
/* line 210, ../sass/home.scss */
body.second content .text_section .section.full .inner .text p.medium {
  font-weight: 700;
  font-size: 16pt;
  margin-top: 30px;
  line-height: 30px;
}
/* line 224, ../sass/home.scss */
body content {
  display: inline-block;
  overflow: hidden;
}
/* line 227, ../sass/home.scss */
body content .section {
  display: flex;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  min-height: 600px;
}
/* line 236, ../sass/home.scss */
body content .section .main {
  color: black;
  line-height: 100px;
  font-family: 'Open Sans Condensed', sans-serif;
  line-height: inherit;
}
/* line 242, ../sass/home.scss */
body content .section#banner {
  width: 100vw;
  height: 95vh;
  position: relative;
  min-height: 700px;
  flex-direction: column;
  align-content: flex-start;
}
/* line 249, ../sass/home.scss */
body content .section#banner .bg_image {
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
}
/* line 256, ../sass/home.scss */
body content .section#banner .bg_image img {
  position: relative;
  top: -20%;
  left: 0;
  display: inline-block;
  width: 115%;
  height: auto;
}
/* line 265, ../sass/home.scss */
body content .section#banner .banner_text {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}
/* line 270, ../sass/home.scss */
body content .section#banner .banner_text .main {
  text-transform: uppercase;
  text-align: center;
  color: white;
  margin-top: 10%;
}
/* line 275, ../sass/home.scss */
body content .section#banner .banner_text .main .top {
  font-weight: 700;
  font-size: 90pt;
}
/* line 280, ../sass/home.scss */
body content .section#banner .banner_text .prod_image.one {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: -200px;
}
/* line 285, ../sass/home.scss */
body content .section#banner .banner_text .prod_image.one img {
  width: 400px;
}
/* line 292, ../sass/home.scss */
body content .section#one {
  position: relative;
  width: 100vw;
  height: initial;
  z-index: 1;
  display: block;
  margin: 0 auto;
  max-width: 1200px;
}
/* line 300, ../sass/home.scss */
body content .section#one .inner.one {
  color: black;
  position: relative;
  top: 75px;
  left: 0;
}
/* line 305, ../sass/home.scss */
body content .section#one .inner.one .text {
  position: relative;
  z-index: 1;
  width: 40%;
  display: inline-block;
}
/* line 310, ../sass/home.scss */
body content .section#one .inner.one .text p {
  width: 90%;
  font-family: 'Montserrat', sans-serif;
  font-size: 10pt;
  line-height: 22px;
  margin-bottom: 15px;
}
/* line 316, ../sass/home.scss */
body content .section#one .inner.one .text p.bold {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  font-size: 35pt;
  width: 100%;
  line-height: 40px;
}
/* line 326, ../sass/home.scss */
body content .section#one .inner.one .text .shop {
  margin-top: 10px;
  background: black;
  display: inline-block;
  padding: 15px 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: white;
  font-size: 9pt;
}
/* line 339, ../sass/home.scss */
body content .section#one .inner.two {
  color: black;
  position: relative;
  top: -75px;
  left: 50%;
  width: 50%;
}
/* line 345, ../sass/home.scss */
body content .section#one .inner.two .text {
  position: relative;
  z-index: 1;
  width: 100%;
  display: inline-block;
}
/* line 350, ../sass/home.scss */
body content .section#one .inner.two .text p {
  width: 90%;
  font-family: 'Montserrat', sans-serif;
  font-size: 10pt;
  line-height: 22px;
  margin-bottom: 15px;
}
/* line 356, ../sass/home.scss */
body content .section#one .inner.two .text p.bold {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  font-size: 35pt;
  width: 100%;
  line-height: 40px;
}
/* line 366, ../sass/home.scss */
body content .section#one .inner.two .text .shop {
  margin-top: 10px;
  background: black;
  display: inline-block;
  padding: 15px 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: white;
  font-size: 9pt;
}
/* line 380, ../sass/home.scss */
body content .section.grid {
  display: flex;
  width: 40%;
  left: 5%;
  justify-content: space-around;
  min-height: initial;
  top: -225px;
  position: relative;
}
/* line 388, ../sass/home.scss */
body content .section.grid .inline_grid {
  display: inline-grid;
  padding: 10px;
  width: 50%;
  position: relative;
}
/* line 393, ../sass/home.scss */
body content .section.grid .inline_grid .inner {
  position: absolute;
  top: 0;
}
/* line 396, ../sass/home.scss */
body content .section.grid .inline_grid .inner img {
  display: block;
  width: 60%;
  margin: 0 auto;
}
/* line 401, ../sass/home.scss */
body content .section.grid .inline_grid .inner .text {
  display: block;
  width: 65%;
  margin: 0 auto;
  text-align: center;
}
/* line 406, ../sass/home.scss */
body content .section.grid .inline_grid .inner .text p {
  font-family: 'Montserrat', sans-serif;
  font-size: 12pt;
  line-height: 22px;
  margin: 0;
}
/* line 411, ../sass/home.scss */
body content .section.grid .inline_grid .inner .text p.bold {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 16pt;
}
/* line 419, ../sass/home.scss */
body content .section.grid .inline_grid:before {
  content: '';
  display: block;
  padding-bottom: 120%;
}
/* line 427, ../sass/home.scss */
body content .section.image {
  display: inline-block;
  width: 50%;
  position: absolute;
  right: 0;
  top: 730px;
}
/* line 433, ../sass/home.scss */
body content .section.image img {
  width: 110%;
  height: auto;
}
/* line 439, ../sass/home.scss */
body content .section#five {
  position: relative;
  width: 100vw;
  height: auto;
  min-height: initial;
  top: -100px;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}
/* line 448, ../sass/home.scss */
body content .section#five .inner {
  text-align: center;
}
/* line 450, ../sass/home.scss */
body content .section#five .inner .main {
  text-transform: uppercase;
  text-align: center;
}
/* line 453, ../sass/home.scss */
body content .section#five .inner .main .top {
  font-weight: 700;
  font-size: 60pt;
}
/* line 458, ../sass/home.scss */
body content .section#five .inner .text {
  position: relative;
  z-index: 1;
  width: 95%;
  display: block;
  margin: 0 auto;
}
/* line 464, ../sass/home.scss */
body content .section#five .inner .text p {
  font-family: 'Montserrat', sans-serif;
  font-size: 12pt;
  line-height: 22px;
  margin: 0;
}
/* line 473, ../sass/home.scss */
body content .section#six {
  position: relative;
  width: 100vw;
  height: auto;
  min-height: initial;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  flex-flow: nowrap;
}
/* line 482, ../sass/home.scss */
body content .section#six .square {
  display: inline-flex;
  flex-grow: 1;
  position: relative;
  width: 33.3%;
}
/* line 487, ../sass/home.scss */
body content .section#six .square:before {
  content: '';
  padding-bottom: 100%;
  display: block;
}
/* line 492, ../sass/home.scss */
body content .section#six .square .bg_image {
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
}
/* line 499, ../sass/home.scss */
body content .section#six .square .bg_image img {
  position: relative;
  top: 0;
  left: -25%;
  display: inline-block;
  width: auto;
  height: 100%;
}
/* line 509, ../sass/home.scss */
body content .section#six .inner {
  text-align: center;
  position: absolute;
  top: 35%;
  height: 65%;
}
/* line 514, ../sass/home.scss */
body content .section#six .inner .main {
  text-transform: uppercase;
  text-align: center;
  color: white;
  position: relative;
  z-index: 1;
}
/* line 520, ../sass/home.scss */
body content .section#six .inner .main .top {
  font-weight: 700;
  font-size: 50pt;
}
/* line 525, ../sass/home.scss */
body content .section#six .inner .text {
  position: relative;
  z-index: 1;
  width: 80%;
  display: block;
  margin: 0 auto;
  color: white;
}
/* line 532, ../sass/home.scss */
body content .section#six .inner .text p {
  font-family: 'Montserrat', sans-serif;
  font-size: 10pt;
  line-height: 22px;
  margin: 0 0 10px 0;
}
/* line 539, ../sass/home.scss */
body content .section#six .inner .shop_outer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
/* line 545, ../sass/home.scss */
body content .section#six .inner .shop_outer .shop {
  margin: 20px auto 30px;
  background: transparent;
  border: 1px solid white;
  display: inline-block;
  padding: 5px 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: white;
  font-size: 10pt;
  text-transform: uppercase;
}
/* line 563, ../sass/home.scss */
body content .text_section {
  position: relative;
}

/* line 569, ../sass/home.scss */
footer .instagram {
  display: block;
  padding: 40px 0;
  background: #222222;
}
/* line 573, ../sass/home.scss */
footer .instagram .insta_label {
  font-family: 'abril_fatfaceregular';
  font-weight: 300;
  font-size: 24pt;
  color: white;
  display: block;
  margin: 0 auto 30px;
  text-align: center;
}
/* line 582, ../sass/home.scss */
footer .instagram ul {
  list-style: none;
  margin: 0;
  display: flex;
  padding: 0;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}
/* line 590, ../sass/home.scss */
footer .instagram ul li {
  background: white;
  display: inline-flex;
  width: 19%;
}
/* line 594, ../sass/home.scss */
footer .instagram ul li:before {
  content: '';
  display: block;
  padding-bottom: 100%;
}
/* line 602, ../sass/home.scss */
footer .footer_inner {
  display: flex;
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
}
/* line 608, ../sass/home.scss */
footer .footer_inner .footer_section {
  display: inline-flex;
}
/* line 610, ../sass/home.scss */
footer .footer_inner .footer_section.one {
  width: 50%;
}
/* line 612, ../sass/home.scss */
footer .footer_inner .footer_section.one ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 616, ../sass/home.scss */
footer .footer_inner .footer_section.one ul li {
  display: block;
  padding: 5px 0;
}
/* line 619, ../sass/home.scss */
footer .footer_inner .footer_section.one ul li a {
  color: black;
  text-decoration: none;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  font-size: 11pt;
}
/* line 629, ../sass/home.scss */
footer .footer_inner .footer_section.two {
  display: inline-flex;
  flex-direction: column;
  width: 25%;
}
/* line 633, ../sass/home.scss */
footer .footer_inner .footer_section.two label {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  width: 65%;
  margin-bottom: 5px;
}
/* line 640, ../sass/home.scss */
footer .footer_inner .footer_section.two input {
  background: #f2f2f2;
  border: none;
  border-radius: 5px;
  height: 40px;
  padding-left: 15px;
  margin: 5px 0;
}
/* line 647, ../sass/home.scss */
footer .footer_inner .footer_section.two input[type="sign up"] {
  background: transparent;
  border: 3px solid black;
  display: inline-block;
  width: 110px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: black;
  font-size: 10pt;
  text-align: center;
  padding: 0;
  height: 25px;
}
/* line 662, ../sass/home.scss */
footer .footer_inner .footer_section.two .pin_logo {
  width: 60px;
  left: -10px;
  position: relative;
}
/* line 666, ../sass/home.scss */
footer .footer_inner .footer_section.two .pin_logo img {
  width: 100%;
  height: auto;
}
/* line 672, ../sass/home.scss */
footer .footer_inner .footer_section.three {
  display: inline-flex;
  flex-direction: column;
  width: 25%;
  position: relative;
}
/* line 677, ../sass/home.scss */
footer .footer_inner .footer_section.three .footer_logo {
  width: 200px;
  position: absolute;
  right: 0;
  bottom: 0;
}
/* line 682, ../sass/home.scss */
footer .footer_inner .footer_section.three .footer_logo img {
  width: 100%;
  height: auto;
}

/* line 691, ../sass/home.scss */
.credits {
  display: inline-block;
  background: black;
  padding: 15px 0;
  width: 100%;
  color: white;
}
/* line 697, ../sass/home.scss */
.credits .inner {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  max-width: 1200px;
  display: block;
  width: 95%;
  margin: 0 auto;
  font-size: 9pt;
}
/* line 705, ../sass/home.scss */
.credits .inner a {
  color: white;
}
