@media screen and (max-width: 1450px) {
  /* line 2, ../sass/media.scss */
  body content .section#banner .bg_image img {
    top: -45%;
  }

  /* line 3, ../sass/media.scss */
  body.second content .section#banner .bg_image img {
    bottom: -65%;
  }
}
@media screen and (max-width: 1325px) {
  /* line 6, ../sass/media.scss */
  body content .section#banner .bg_image img {
    top: -25%;
  }
}
@media screen and (max-width: 1200px) {
  /* line 9, ../sass/media.scss */
  body content .section#one {
    width: 95%;
  }

  /* line 10, ../sass/media.scss */
  body.second content .text_section .section.a_one .inner.one .text {
    width: 70%;
  }

  /* line 13, ../sass/media.scss */
  body content .section.grid .inline_grid:before {
    padding-bottom: 140%;
  }

  /* line 14, ../sass/media.scss */
  body content .section.grid .inline_grid .inner .text {
    width: 95%;
  }

  /* line 15, ../sass/media.scss */
  body content .section#six .inner {
    top: 0;
    height: 100%;
  }
}
@media screen and (max-width: 1135px) {
  /* line 18, ../sass/media.scss */
  body content .section#banner .bg_image img {
    top: -10%;
    width: 125%;
  }

  /* line 19, ../sass/media.scss */
  body content .section#one .inner.two {
    top: -135px;
  }
}
@media screen and (max-width: 1025px) {
  /* line 22, ../sass/media.scss */
  body content .section#one .inner.two {
    top: -185px;
  }
}
@media screen and (max-width: 998px) {
  /* line 25, ../sass/media.scss */
  body content .section#banner .banner_text .main .top {
    font-size: 70pt;
    line-height: 90px;
  }

  /* line 29, ../sass/media.scss */
  body content .section#banner .bg_image img {
    top: 0;
    width: auto;
    height: 100%;
  }

  /* line 30, ../sass/media.scss */
  body.second content .section#banner .bg_image img {
    width: 100%;
    height: auto;
    bottom: 1000px;
  }

  /* line 31, ../sass/media.scss */
  body.second content .text_section .section.full .bg_image img {
    width: 175%;
    left: -50%;
  }

  /* line 33, ../sass/media.scss */
  body.second content .text_section .section.full .inner .text {
    width: 90%;
    margin-left: 5%;
  }
}
@media screen and (max-width: 998px) {
  /* line 39, ../sass/media.scss */
  body footer .footer_inner .footer_section.one {
    width: 35%;
  }

  /* line 40, ../sass/media.scss */
  body footer .footer_inner .footer_section.two {
    width: 35%;
  }
}
@media screen and (max-width: 885px) {
  /* line 43, ../sass/media.scss */
  body content .section#one .inner.two {
    top: -215px;
  }

  /* line 44, ../sass/media.scss */
  body.second content .text_section .section.a_one {
    display: block;
    margin-bottom: -5px;
  }

  /* line 45, ../sass/media.scss */
  body.second content .text_section .section.a_one .inner.one, body.second content .text_section .section.a_one .inner.two {
    width: 100%;
  }

  /* line 48, ../sass/media.scss */
  body content .section#six {
    flex-flow: column;
  }

  /* line 51, ../sass/media.scss */
  body content .section#six .square {
    width: 85%;
    margin: 0 auto;
  }

  /* line 55, ../sass/media.scss */
  body content .section#six .inner {
    top: 25%;
    height: 75%;
  }
}
@media screen and (max-width: 775px) {
  /* line 58, ../sass/media.scss */
  body.second content .section#banner .bg_image img {
    width: 150%;
    height: auto;
    bottom: 0;
    left: -25%;
  }

  /* line 59, ../sass/media.scss */
  body.second content .section#banner .banner_text .main {
    text-align: center;
    width: 100%;
  }

  /* line 60, ../sass/media.scss */
  body content .section#banner .banner_text .main .top {
    font-size: 50pt;
    line-height: 60px;
  }

  /* line 61, ../sass/media.scss */
  body content .section#one .inner.one {
    top: 145px;
    margin-bottom: 150px;
  }

  /* line 65, ../sass/media.scss */
  body content .section#one .inner.one .text {
    width: 100%;
  }

  /* line 68, ../sass/media.scss */
  body content .section#one .inner.two {
    position: relative;
    top: 0;
    width: 100%;
    left: 0;
    margin-bottom: 50px;
  }

  /* line 75, ../sass/media.scss */
  body content .section.grid {
    top: 0;
    left: 0;
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
  }

  /* line 82, ../sass/media.scss */
  body content .section.image {
    position: relative;
    top: 0;
    width: 100%;
  }

  /* line 87, ../sass/media.scss */
  body content .section#five {
    top: 0;
    line-height: 65px;
    padding: 50px 0;
  }

  /* line 92, ../sass/media.scss */
  body content .section#five .inner .text {
    width: 85%;
    margin-top: 15px;
  }
}
@media screen and (max-width: 775px) {
  /* line 98, ../sass/media.scss */
  body footer .instagram ul {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
  }

  /* line 99, ../sass/media.scss */
  body footer .instagram ul li {
    width: 49%;
    margin-bottom: 10px;
  }

  /* line 100, ../sass/media.scss */
  body footer .footer_inner {
    flex-direction: column;
  }

  /* line 101, ../sass/media.scss */
  body footer .footer_inner .footer_section.one {
    width: 100%;
    text-align: center;
  }

  /* line 102, ../sass/media.scss */
  body footer .footer_inner .footer_section.one .footer-nav {
    width: 100%;
  }

  /* line 103, ../sass/media.scss */
  body footer .footer_inner .footer_section.two {
    width: 100%;
    margin: 50px 0 75px;
    text-align: center;
  }

  /* line 104, ../sass/media.scss */
  body footer .footer_inner .footer_section.two label {
    width: 100%;
  }

  /* line 105, ../sass/media.scss */
  body footer .footer_inner .footer_section.three {
    width: 100%;
  }
}
@media screen and (max-width: 658px) {
  /* line 108, ../sass/media.scss */
  body content .section#banner .bg_image img {
    left: -25%;
  }

  /* line 110, ../sass/media.scss */
  body.second content .text_section .section.a_one .inner.one .text .text_inner p.bold {
    font-size: 30pt;
    line-height: 40px;
  }

  /* line 112, ../sass/media.scss */
  body.second content .text_section .section.a_one .inner.one .text {
    width: 90%;
    right: 5%;
  }

  /* line 113, ../sass/media.scss */
  body.second content .text_section .section.a_one .inner:before {
    padding-bottom: 125%;
  }

  /* line 114, ../sass/media.scss */
  body.second content .text_section .section.full .bg_image img {
    height: 100%;
    width: auto;
  }

  /* line 115, ../sass/media.scss */
  body.second content .text_section .section.full .inner .text p.bold {
    font-size: 44pt;
  }
}
@media screen and (max-width: 531px) {
  /* line 118, ../sass/media.scss */
  body nav ul {
    display: none;
  }
}
@media screen and (max-width: 490px) {
  /* line 122, ../sass/media.scss */
  body content .section#banner .bg_image img {
    left: -490px;
  }

  /* line 123, ../sass/media.scss */
  body content .section.grid {
    margin-bottom: 40px;
  }

  /* line 124, ../sass/media.scss */
  body content .section.image {
    min-height: initial;
    overflow: hidden;
    margin-top: 40px;
  }

  /* line 125, ../sass/media.scss */
  body content .section#five .inner .main .top {
    font-size: 50pt;
  }

  /* line 126, ../sass/media.scss */
  body content .section#six .square {
    width: 100%;
  }

  /* line 127, ../sass/media.scss */
  body content .section#six .inner {
    top: 50px;
    height: 80%;
  }

  /* line 128, ../sass/media.scss */
  body content .section#six .inner .text {
    width: 90%;
  }

  /* line 129, ../sass/media.scss */
  body content .section#six .inner .shop_outer .shop {
    padding: 10px 40px;
    font-size: 12pt;
  }

  /* line 130, ../sass/media.scss */
  body content .section#banner .banner_text .main {
    margin-top: 100px;
  }

  /* line 131, ../sass/media.scss */
  body content .section.grid .inline_grid:before {
    padding-bottom: 280px;
  }

  /* line 132, ../sass/media.scss */
  body content .section.grid .inline_grid .inner img {
    width: 70%;
  }

  /* line 133, ../sass/media.scss */
  body content .section.grid .inline_grid .inner .text {
    width: 75%;
  }

  /* line 134, ../sass/media.scss */
  body content .section#one .inner.one .text p {
    width: 96%;
  }

  /* line 135, ../sass/media.scss */
  body content .section#one .inner.two .text p {
    width: 96%;
  }

  /* line 136, ../sass/media.scss */
  body.second content .section#banner {
    height: 50vh;
  }

  /* line 137, ../sass/media.scss */
  body.second content .text_section .section.a_one:nth-of-type(2) .inner.one .text {
    left: 5%;
  }

  /* line 138, ../sass/media.scss */
  body.second content .text_section .section.full .inner .text p.medium {
    font-size: 13pt;
  }
}
@media screen and (max-width: 1450px) and (min-height: 768px) {
  /* line 142, ../sass/media.scss */
  body content .section#banner .bg_image img {
    top: 0;
    width: 1450px;
  }

  /* line 143, ../sass/media.scss */
  body.second content .section#banner .bg_image img {
    bottom: 0;
  }
}
@media screen and (max-width: 668px) and (min-height: 768px) {
  /* line 146, ../sass/media.scss */
  body content .section#banner .bg_image img {
    top: 0;
    width: 1450px;
  }

  /* line 147, ../sass/media.scss */
  body.second content .section#banner {
    height: 75vh;
  }
}
